{% extends 'pages/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Tài khoản">
        </div>
        <div class="mb-3">
            <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="mb-3"> 
            <input name="password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
        </div>
        <div class="mb-3"> 
            <input name="password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
